folium==0.17.0
geopandas==1.0.1
matplotlib==3.9.2
numpy==2.1.0
pandas==2.2.2
pyarrow==17.0.0
pyproj==3.6.1
pyspark==3.5.2
scikit-learn==1.5.1
scipy==1.14.1
seaborn==0.13.2
shapely==2.0.6
xgboost==2.1.1
